.profile {
  background-color: azure;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px #344365 solid;
}

/* UserDropdownMenu.module.css */
.wrapper {
  position: relative;
  display: inline-block;
}

.userInfoMenu {
  color: whitesmoke;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  img {
    width: 3rem;
    border-radius: 25px;
    border: #8692af solid 2px;
    background-color: white;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      margin: 0.5rem;
      text-align: start;
      span {
        font-weight: lighter;
      }
    }
  }
}

.menu {
  position: absolute;
  top: 131%;
  right: 0;
  background-color: white;
  background: linear-gradient(
    124deg,
    rgba(55, 65, 100, 1) 0%,
    rgba(19, 33, 59, 1) 100%
  );
  border: 1px solid #344365;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 0 0 6px 6px;
  z-index: 1000;
  text-wrap: nowrap;

  hr {
    border-radius: 80%;
  }
}

.menu p {
  margin: 0;
  padding: 5px 0;
  color: whitesmoke;
}

.menu a {
  box-shadow: 0px 0px 15px -10px rgba(255, 255, 255, 0.55);
  display: flex;
  padding: 5px 1rem;
  color: #0092cc;
  border: #344365 2px solid;
  border-radius: 25px;
  margin-top: 0.5rem;
  text-decoration: none;
  align-items: center;

  background: linear-gradient(-25deg, #00e0af 0%, #0092cc 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  span {
    margin-left: 0.5rem;
  }
}

.menu a:last-child {
  text-decoration: none;

  color: red !important;
  background: none;
  -webkit-background-clip: inherit;
  -webkit-text-fill-color: red;
}
.menu a:last-child:hover {
  text-decoration: none;
}
.menu a:hover {
  text-decoration: underline;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.55);
}
